@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=FreeSans:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");

:root {
  --main-color: #003561;
}

.custom-blue {
  color: var(--main-color);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "FreeSans", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
a {
  font-family: "Inter";
  color: var(--main-color);
}

* {
  box-sizing: border-box;
}
button {
  cursor: pointer;
}

.trending-item {
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: max-content;
}

.feature:nth-child(1) .image {
  order: -9999;
}
.feature:nth-child(1) .content {
  order: 9999;
}
.feature:nth-child(3) .image {
  order: -9999;
}
.feature:nth-child(3) .content {
  order: 9999;
}
